@import "../imports/vendor/angular-material"

.md-fab-fixed
  position: fixed !important

body
  max-width: 1170px
  margin: auto
  @media (min-width: 1172px)
    border-right: 1px solid rgb(224,224,224)
    border-left: 1px solid rgb(224,224,224)

@import '../imports/components/nav'
@import '../imports/components/songs/list'
@import '../imports/components/songs/show'
@import '../imports/components/songs/metronome'
@import '../imports/components/audios/add-progress'
@import '../imports/components/audios/list'
