<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="{{ 'song.edit.toolbar.save' | translate }}"
               class="md-icon-button"
               ng-click="songEdit.save()">
      <md-icon md-svg-icon="action:ic_done_24px"></md-icon>
    </md-button>
    <span translate>song.edit.title</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <md-menu>
        <md-button aria-label="{{ 'song.edit.toolbar.menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
        </md-button>
        <md-menu-content>
          <md-menu-item>
            <md-button ng-click="songEdit.confirmRemove($event)">
              <span translate>song.edit.toolbar.remove</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
  </div>
</md-toolbar>
<md-content flex layout-padding>
  <form ng-submit="songEdit.save()">
    <md-input-container class="md-block">
      <label><span translate>song.title.placeholder</span></label>
      <input ng-model="songEdit.song.title">
    </md-input-container>

    <md-input-container class="md-block">
      <label><span translate>song.text.placeholder</span></label>
      <textarea ng-model="songEdit.song.text"></textarea>
    </md-input-container>
  </form>
</md-content>
