<md-toolbar md-scroll-shrink ng-if="true">
  <div class="md-toolbar-tools">
    <span>Quebrantahuesos</span>
  </div>
</md-toolbar>

<md-content flex layout-padding>
  <md-list flex>
    <md-list-item ng-repeat="song in songList.songs" ng-click="null" ui-sref="songShow({ id: song._id })">
      <div class="md-list-item-text">
        <h4>{{ song.title || 'song.title.empty' | translate }}</h4>
      </div>
    </md-list-item>
  </md-list>
</md-content>

<md-button class="md-fab md-fab-bottom-right md-fab-fixed"
           ng-click="songList.create()"
           aria-label="{{ 'song.list.add' | translate }}">
  <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
</md-button>
