<header>
  <h1>Songs</h1>
  <form class="new-song" ng-submit="$ctrl.addSong($ctrl.newSong)">
    <input ng-model="$ctrl.newSong" type="text" name="text" placeholder="Type to add new tasks"/>
  </form>
</header>

<ul class="list-group">
  <li class="list-group-item" ng-repeat="song in $ctrl.songs">
    <a ui-sref="songShow({ id: song._id })">
      <h4 class="list-group-item-heading">{{ song.title }}</h4>
      <div class="list-group-item-text">
        {{ song.text }}
      </div>
    </a>
  </li>
</ul>
