<div class="metronome" layout-padding>
  <div layout layout-align="start center">
    <h4 translate>metronome.title</h4>
    <span flex></span>
    <md-button class="md-icon-button" ng-click="metronome.hide()" aria-label="hide">
      <md-icon md-svg-icon="navigation:ic_cancel_24px"></md-icon>
    </md-button>
  </div>

  <div class="bpm">
    <md-input-container>
      <label><span translate>metronome.bpm.label</span></label>
      <input type="number" ng-model="metronome.bpm" step="1">
    </md-input-container>

    <div class="bpm-buttons">
      <md-icon md-svg-icon="content:ic_remove_24px" ng-click="metronome.decrementBpm()"></md-icon>
      <md-icon md-svg-icon="content:ic_add_24px" ng-click="metronome.incrementBpm()"></md-icon>
      <div class="md-errors-spacer">

      </div>
    </div>

  </div>
</div>
