<div class="metronome" layout="row" layout-align="space-between stretch" layout-padding="">

  <div layout="column" layout="space-around center" flex="nogrow">

    <section class="bpm" layout="row" layout-align="start center">
      <md-input-container flex>
        <label><span translate>metronome.bpm.label</span></label>
        <input type="number" ng-model="metronome.bpm" step="1">
      </md-input-container>

      <div class="bpm-buttons">
        <md-icon md-svg-icon="content:ic_remove_24px" ng-click="metronome.decrementBpm()"></md-icon>
        <md-icon md-svg-icon="content:ic_add_24px" ng-click="metronome.incrementBpm()"></md-icon>
      </div>
    </section>

    <section class="bpb" layout="row" layout-align="start center">
      <md-input-container flex>
        <label><span translate>metronome.bpb.label</span></label>
        <input type="number" ng-model="metronome.bpb" step="1">
      </md-input-container>

      <div class="bpm-buttons">
        <md-icon md-svg-icon="content:ic_remove_24px" ng-click="metronome.decrementBpb()"></md-icon>
        <md-icon md-svg-icon="content:ic_add_24px" ng-click="metronome.incrementBpb()"></md-icon>
      </div>
    </section>

  </div>
  <section class="play" layout="column" layout-align="space-around end" flex="noshrink">

    <md-progress-circular md-mode="determinate"
                          md-diameter="56"
                          value="{{ metronome.progressValue() }}"
                          ng-class="metronome.playing ? '' : 'stopped'"
                          data-progress-count="{{ metronome.beatCountFull() }}">
    </md-progress-circular>

    <md-button class="md-fab"
               ng-class="metronome.playing ? '' : 'md-hue-1'"
               ng-click="metronome.toggle()"
               aria-label="{{ metronome.playing ? 'metronome.stop' : 'metronome.play' | translate }}">
      <md-icon ng-attr-md-svg-icon="{{ metronome.playing ? 'av:ic_stop_24px' : 'av:ic_play_arrow_24px' }}"></md-icon>
    </md-button>
  </section>
</div>
