.metronome {

  .bpm, .bpb {
    .md-errors-spacer {
      min-height: 0px;
    }

    md-input-container {
//      width: 150px;
    }

  }

  md-progress-circular {
    margin: 8px;
    &::before {
      content: attr(data-progress-count);
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      left: 19px;
      top: 11px;
    }

    &.stopped {
      opacity: 0.5;
    }
  }
}
