.metronome {

  .bpm, .bpb {
    .md-errors-spacer {
      min-height: 0px;
    }
  }

  md-progress-circular {
    margin: 8px;
    &::before {
      content: attr(data-progress-count);
      font-size: 30px;
      font-weight: bold;
      position: absolute;
      left: 19px;
      top: 11px;
    }

    &.stopped {
      opacity: 0.4;

      path {
        stroke : rgba(0, 0, 0, 0.870588);
      }

    }
  }

  button.metronome-play-stop {
    background-color: transparent !important;

    md-icon {
      color: rgba(0,0,0,0.54);
    }
  }
}
