<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-btn navbar-left">
      <a ui-sref="songs" class="navbar-link">
        <i class="mdi mdi-arrow-left"></i>
      </a>
    </div>
    <div class="navbar-el navbar-left">
      {{ songShow.song.title }}
    </div>

    <div class="navbar-btn navbar-right">
      <div class="dropdown">
        <a class="dropdown-toggle navbar-link"
           data-toggle="dropdown">
           <i class="mdi mdi-dots-vertical"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a ng-click="songShow.addAudio()"
                 translate>song.menu.add_audio</a></li>
          <li><a ui-sref="songEdit({ id: songShow.song._id })" translate>song.menu.edit</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <div class="song-text"
       hm-manager-options='{ "touchAction": "pan-y" }'
       hm-swipeleft="songShow.nextSong()"
       hm-swiperight="sonwShow.prevSong()">{{ songShow.song.text }}</div>

  <audio-player song="songShow.song"></audio-player>
</div>
