<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-btn navbar-left">
      <a ui-sref="songs" class="navbar-link">
        <i class="mdi mdi-arrow-left"></i>
      </a>
    </div>
    <div class="navbar-el navbar-left">
      {{ $ctrl.song.title }}
    </div>

    <div class="navbar-btn navbar-right">
      <div class="dropdown">
        <a class="dropdown-toggle navbar-link"
           data-toggle="dropdown">
           <i class="mdi mdi-dots-vertical"></i>
        </a>
        <ul class="dropdown-menu">
          <li><a ng-click="$ctrl.addAudio()"
                 translate>song.menu.add_audio</a></li>
          <li><a ui-sref="songEdit({ id: $ctrl.song._id })" translate>song.menu.edit</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="container"
     hm-manager-options='{ "touchAction": "pan-y" }'
     hm-swipeleft="$ctrl.nextSong()"
     hm-swiperight="$ctrl.prevSong()">
  <div class="song-text">{{ $ctrl.song.text }}</div>
</div>
