<md-toolbar>
  <div class="md-toolbar-tools">
    <md-button aria-label="{{ 'song.show.toolbar.back' | translate }}" class="md-icon-button" ui-sref="songs">
      <md-icon md-svg-icon="navigation:ic_arrow_back_24px"></md-icon>
    </md-button>
    <span>{{ songShow.song.title || 'song.title.empty' | translate }}</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <md-menu>
        <md-button aria-label="{{ 'song.show.toolbar.menu' | translate }}" class="md-icon-button" ng-click="$mdOpenMenu($event)">
          <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
        </md-button>
        <md-menu-content>
          <md-menu-item ng-if="songShow.song.audioIds.length">
            <md-button audio-play>
              <span translate>song.show.toolbar.audio_play</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button audio-add="songShow.song">
              <span translate>song.show.toolbar.audio_add</span>
            </md-button>
          </md-menu-item>
          <md-menu-item>
            <md-button ui-sref="songEdit({ id: songShow.song._id })">
              <span translate>song.show.toolbar.edit</span>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
  </div>
</md-toolbar>

<md-content flex layout-padding>
  <div class="song-text"
       hm-manager-options='{ "touchAction": "pan-y" }'
       hm-swipeleft="songShow.nextSong()"
       hm-swiperight="songShow.prevSong()">{{ songShow.song.text || 'song.text.empty' | translate }}</div>

</md-content>

<audio-add-progress layout="column" layout-margin></audio-add-progress>

<audio-player flex="none" audio-ids="songShow.song.audioIds"></audio-player>
