<h2 md-dialog-title translate>
  <span translate>{{ 'front.start.' + section + '.title' }}</span>
</h2>

<form (ngSubmit)="onRegister()" #registerForm="ngForm" *ngIf="section === 'register'">

  <div md-dialog-content
       fxLayout="column">
    <md-input-container>
      <input mdInput
             name="band-name"
             required
             [placeholder]="'front.start.band.placeholder' | translate"
             [(ngModel)]="band">
    </md-input-container>

    <md-input-container>
      <input mdInput
             name="username"
             required
             [placeholder]="'front.start.user.name.placeholder' | translate"
             [(ngModel)]="username">
    </md-input-container>

    <md-input-container>
      <input mdInput
             name="useremail"
             type="email"
             required
             [placeholder]="'front.start.user.email.placeholder' | translate"
             [(ngModel)]="useremail">
    </md-input-container>
  </div>

  <div md-dialog-actions>
    <div fxFlex></div>

    <button md-button
            type="button"
            color="primary"
            class="dialog-button"
            (click)="dialogRef.close()">
      <span translate>front.start.cancel</span>
    </button>

    <button md-raised-button
            type="submit"
            color="primary"
            [disabled]="!registerForm.form.valid"
            class="dialog-button">
      <span translate>front.start.confirm</span>
    </button>
  </div>`

  <div class="login-link">
    <span translate>front.start.register.login.question</span>
    <a href="#" (click)="section = 'login'">
      <span translate>front.start.register.login.link</span>
    </a>

  </div>
</form>

<form (ngSubmit)="onLogin()" #loginForm="ngForm" *ngIf="section === 'login'">

  <div md-dialog-content
       fxLayout="column">
    <md-input-container>
      <input mdInput
             name="useremail"
             type="email"
             required
             [placeholder]="'front.start.user.email.placeholder' | translate"
             [(ngModel)]="useremail">
    </md-input-container>

    <md-input-container>
      <input mdInput
             name="userpassword"
             type="password"
             required
             [placeholder]="'front.start.user.password.placeholder' | translate"
             [(ngModel)]="userpassword">
      <md-hint align="end">
        <a (click)="section = 'forgotPassword'">
          <span translate>front.start.login.forgotPassword.question</span>
        </a>
      </md-hint>
    </md-input-container>
  </div>

  <div md-dialog-actions>
    <div fxFlex></div>

    <button md-button
            type="button"
            color="primary"
            class="dialog-button"
            (click)="dialogRef.close()">
      <span translate>front.start.cancel</span>
    </button>

    <button md-raised-button
            type="submit"
            color="primary"
            [disabled]="!loginForm.form.valid"
            class="dialog-button">
      <span translate>front.start.confirm</span>
    </button>
  </div>`

  <div class="login-link">
    <span translate>front.start.login.register.question</span>
    <a href="#" (click)="section = 'register'">
      <span translate>front.start.login.register.link</span>
    </a>

  </div>
</form>

<form (ngSubmit)="onForgotPassword()" #forgotPasswordForm="ngForm" *ngIf="section === 'forgotPassword'">

  <div md-dialog-content
       fxLayout="column">
    <md-input-container>
      <input mdInput
             name="useremail"
             type="email"
             required
             [placeholder]="'front.start.user.email.placeholder' | translate"
             [(ngModel)]="useremail">
      <md-hint><span translate>front.start.forgotPassword.email.hint</span></md-hint>
    </md-input-container>
  </div>

  <div md-dialog-actions>
    <div fxFlex></div>

    <button md-button
            type="button"
            color="primary"
            class="dialog-button"
            (click)="dialogRef.close()">
      <span translate>front.start.cancel</span>
    </button>

    <button md-raised-button
            type="submit"
            color="primary"
            [disabled]="!forgotPasswordForm.form.valid"
            class="dialog-button">
      <span translate>front.start.forgotPassword.confirm</span>
    </button>
  </div>`

</form>
