<md-sidenav-container>
  <md-sidenav #sidenav>
    <session-sidebar></session-sidebar>
  </md-sidenav>

  <div fxLayout="column"
       fxFill>

    <md-toolbar color="primary"
                *ngIf="media.isActive('gt-sm') || showToolbar">

      <button md-icon-button
              fxShow
              fxHide.gt-sm
              (click)="sidenav.open()">
        <md-icon>menu</md-icon>
      </button>

      <span *ngIf="! currentBand" class="brand desktop-brand">
        Song Pot
      </span>
      <span class="band-name" [mdMenuTriggerFor]="bandsMenu">{{ currentBand?.name }}</span>
      <button md-icon-button *ngIf="bands" [mdMenuTriggerFor]="bandsMenu">
        <md-icon>arrow_drop_down</md-icon>
      </button>
      <md-menu #bandsMenu="mdMenu">
        <button md-menu-item
                *ngFor="let band of bands"
                [routerLink]="[band._id]">
          <span>{{ band.name }}</span>
        </button>
        <button md-menu-item
                (click)="newBand()">
          <span translate>band.toolbar.selector.create</span>
        </button>
      </md-menu>

      <div fxFlex></div>

      <session-toolbar fxHide fxShow.gt-sm></session-toolbar>

      <button md-icon-button
              *ngIf="showShare && currentBand"
              [bandShare]="currentBand">
        <md-icon>share</md-icon>
      </button>

    </md-toolbar>

    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
