band {
  @include fx-column-flex();

  .songs-desktop {

    .padding-16 {
      padding: 16px;
    }

    songs {
      .mat-list-item-content {
        padding: 0 !important;
      }
    }

    md-card-content {
      overflow: auto;
    }
  }
}
