bands {
  display: block;
  height: 100%;

  md-sidenav-container {
    display: block;
    height: 100%;
  }

  md-toolbar {
    .brand {
      font-family: 'Kaushan Script';
      line-height: 30px;

      img {
        vertical-align: middle;
      }
    }
  }

  .desktop-brand {
    img {
      padding-right: 15px;
    }
  }

  .band-name {
    cursor: pointer;
  }
}
