<div fxLayout="column"
     fxFill>

  <md-toolbar color="primary"
              *ngIf="media.isActive('gt-sm') || showToolbar">
    <span *ngIf="! currentBand" class="brand">
      <img src="/images/icon-32.png">
      Song Pot
    </span>
    <span class="band-name" [mdMenuTriggerFor]="bandsMenu">{{ currentBand?.name }}</span>
    <button md-icon-button [mdMenuTriggerFor]="bandsMenu">
      <md-icon>arrow_drop_down</md-icon>
    </button>
    <md-menu #bandsMenu="mdMenu">
      <button md-menu-item
              *ngFor="let band of bands | async"
              [routerLink]="[band._id]">
        <span>{{ band.name }}</span>
      </button>
      <button md-menu-item
              (click)="newBand()">
        <span translate>band.toolbar.selector.create</span>
      </button>
    </md-menu>

    <div fxFlex></div>

    <session></session>

  </md-toolbar>

  <router-outlet></router-outlet>
</div>
