<md-grid-list [cols]="gridCols" rowHeight="130px" *ngIf="bands?.length">
  <md-grid-tile *ngFor="let band of bands"
                [routerLink]="[band._id]">
    <md-card fxFlex>
      <md-card-title>{{ band.name }}</md-card-title>
      <md-card-content>
        <div translate [translateParams]="{ count: band.songIds.length }">band.list.songs</div>
      </md-card-content>
    </md-card>
  </md-grid-tile>
</md-grid-list>

<band-empty *ngIf="bands && ! bands.length"></band-empty>

<div *ngIf="! bands"
     fxLayout="row"
     fxLayoutAlign="center center">
  <md-spinner></md-spinner>
</div>
