<md-list ng-cloak ng-if="audioList.isDisplayed">
  <md-subheader>
    <div layout layout-align="start center">
      <span translate>audio.list.header</span>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="audioList.hide()">
        <md-icon md-svg-icon="navigation:ic_cancel_24px"></md-icon>
      </md-button>
    </div>
  </md-subheader>
  <md-list-item ng-repeat="audio in audioList.audios">
    <!-- Support primary action and menu as secondary action in list item
         https://github.com/angular/material/issues/3339#issuecomment-167156264
    -->
    <button class="md-no-style md-button" type="button" ng-click="audioList.play(audio)">
      <div class="md-list-item-inner">
        {{ audio.name }}
      </div>
    </button>

    <md-menu class="md-secondary">
      <md-button class="md-icon-button">
        <md-icon md-menu-origin md-svg-icon="navigation:ic_more_vert_24px"></md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="audioList.changeName(audio, $event)">
            <span translate>song.list.menu.rename</span>
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="audioList.confirmRemove(audio, $event)">
            <span translate>song.list.menu.remove</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </md-list-item>
</md-list>
