.loading {
  opacity: 0;
  transition: opacity .8s ease-in-out;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #000;
  background-image: url(/images/splash.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: -1;
}

song-pot:empty + .loading {
    opacity: 1;
    z-index: 100;
}
