.navbar-el {
  float: left;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}

.navbar-btn {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  font-size: 24px;

  button {
    border-width: 0px;
    background-color: inherit;
    padding: 0;
  }
}
