audio-add-progress {
  display: block;

  .upload-title {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 6px;
    margin-top: 6px;
  }

  md-progress-spinner {
    height: 40px !important;
    width: 40px !important;
    position: relative;

    &::before {
      content: attr(data-progress-percentage) '%';
      font-size: 11px;
      font-weight: bold;
      left: 11px;
      position: absolute;
      top: 15px;
    }
  }

  .upload {
    padding: 0 16px;
  }

  .name {
    font-size: 16px;

  }

}
