<div fxLayout="column"
     *ngIf="audioUploadService.uploads.length">
  <div class="upload-title" translate>
    audio.upload.title
  </div>

  <div fxLayout="row"
       fxLayoutAlign="start center"
       class="upload"
       *ngFor="let upload of audioUploadService.uploads">
    <div fxFlex class="name">
      {{ upload.file.name }}
    </div>

    <md-progress-spinner mode="determinate"
                         color="accent"
                         [attr.data-progress-percentage]="upload.roundedProgressPercentage"
                         [value]="upload.progressPercentage">
    </md-progress-spinner>
  </div>
</div>
