front {
  background-color: #000;
  color: #fff;
  display: block;

  .mat-toolbar,
  .features,
  .community,
  .behind {
    margin: auto;
    max-width: 1170px;
  }

  .mat-toolbar {
    background-color: #000;
    color: #fff;

    img {
      margin-right: 10px;
    }

    .brand {
      font-family: 'Kaushan Script';
    }

    a {
      color: #fff;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .intro {
    background-image: url('/images/intro.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding-top: 100px;
    text-align: center;

    .title {

      font-family: 'Kaushan Script';
      font-size: 64px;
      margin-bottom: 10px;
    }

    .message {
      font-family: 'Kaushan Script';
      font-size: 42px;
      margin-bottom: 100px;

    }

    button {
      font-size: 42px;
      line-height: 73px;
      padding: 0 26px;
      text-transform: uppercase;
    }
  }

  .features {
    padding-bottom: 100px;
    padding-top: 100px;

    &>div {
      background-color: rgba(0, 0, 0, 0.5);
      margin: 16px;
      padding: 16px;
      text-align: center;
    }

    .material-icons {
      font-size: 52px;
    }

    .description {
      font-size: 24px;
      padding-top: 12px;
    }
  }

  h1 {
    font-family: 'Kaushan Script';
  }

  .community,
  .behind {
    a {
      color: mat-color($accent);
      text-decoration: none;
    }
  }

  .community-wrapper {
    background-color: mat-color($primary);
  }

  .community {
    margin-bottom: 70px;
    padding: 16px;

    .icon {
      padding-right: 8px;
      text-align: center;

      a {
        color: #fff;
      }

      .material-icons {
        font-size: 52px;
      }
    }

    .icon-text {
      font-size: 24px;
    }
    .text {
      padding-left: 8px;
      font-size: 21px;
    }
  }

  .behind {
    padding: 16px;

    img {
      width: 100%;
    }

    .text {
      font-size: 21px;
      padding-right: 8px;

    }

    .image {
      padding-left: 8px;
    }
  }
}
