song {
  display: block;
  height: 100%;

  .song-mobile {

    .title {
      padding-left: 16px;
    }

    .text {
      white-space: pre-line;
      font-size: 16px;
      padding: 16px;
    }
  }
}
