.navbar-el {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16px;
}

.navbar-btn {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 24px;

  button, & > a {
    border-width: 0px;
    background-color: inherit;
    padding: 0 !important;
  }

  a {
    cursor: pointer;
  }
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
  &.navbar-btn {
    margin-right: 0;
  }

  .dropdown-menu {
    left: auto;
    right: 0;
  }
}
