.metronome {

  section.play {
    margin-left: 16px;
  }


  md-progress-spinner {
    height: 64px;
    position: relative;
    width: 64px;

    &::before {
      content: attr(data-progress-count);
      font-size: 30px;
      font-weight: bold;
      left: 23px;
      position: absolute;
      top: 14px;
    }

    &.stopped {
      opacity: .4;

      path {
        stroke : rgba(0, 0, 0, 0.870588);
      }

    }
  }

  button.metronome-play-stop {
    background-color: transparent !important;
    margin: 8px 3px 8px 0;

    md-icon {
      color: rgba(0,0,0,0.54);
    }
  }
}
