song {
  display: block;
  height: 100%;

  .text {
    font-size: 16px;
    line-height: 26px;
    overflow: auto;
    white-space: pre-line;
  }

  .song-mobile {

    .text,
    .song-editing {
      padding: 16px;
    }
  }

  .song-desktop {
    height: 100%;

    songs {
      .mat-list-item-content {
        padding: 0 !important;
      }
    }

    .song-title {
      margin: 13px 16px 0;

      h2 {
        font-weight: normal;
      }
    }

    .spacer {
      height: 16px;
      max-height: 16px;
    }

    md-card-title {
      font-size: 20px;
      font-weight: 500;
    }

    md-card-content {
      overflow: auto;
    }
  }

  .metronome-container {
    padding: 0 16px;
  }
}
