song {
  display: block;
  height: 100%;

  .text {
    white-space: pre-line;
    font-size: 16px;
    overflow: auto;
  }

  .song-mobile {

    .text {
      padding: 16px;
    }
  }

  .song-desktop {
    .padding-16 {
      padding: 16px;
    }

    songs {
      .mat-list-item-content {
        padding: 0 !important;
      }
    }

    .song-title {
      font-weight: normal;
      margin: 43px 16px 5px 16px;
    }

    .spacer {
      height: 16px;
    }

    md-card-content {
      overflow: auto;
    }
  }

  .metronome-container {
    padding: 0 16px;
  }
}
