<div fxShow
     fxHide.gt-sm="true"
     fxLayout="column"
     fxFill class="song-mobile"
     *ngIf="song">

  <md-toolbar color="primary" *ngIf="! editing">
    <button md-icon-button [routerLink]="'/band'">
      <md-icon >arrow_back</md-icon>
    </button>

    <span class="title">{{ song.title || 'song.title.empty' | translate }}</span>

    <span fxFlex></span>

    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item
              *ngIf="song.audioIds && song.audioIds.length > 0"
              (click)="bottomContainer = 'audios'">
        <span translate>song.show.toolbar.audio_list</span>
      </button>
      <button md-menu-item >
        <!-- audio-add="songShow.song" -->
        <span translate>song.show.toolbar.audio_add</span>
      </button>
      <button md-menu-item
              (click)="bottomContainer = 'metronome'">
        <span translate>song.show.toolbar.metronome</span>
      </button>
      <button md-menu-item
              [routerLink]="['/songs', song._id, 'edit']">
        <span translate>song.show.toolbar.edit</span>
      </button>
      <button md-menu-item
              (click)="confirmRemove()">
        <span translate>song.show.toolbar.remove</span>
      </button>
    </md-menu>
  </md-toolbar>

  <md-toolbar color="primary" *ngIf="editing">
    <button md-icon-button (click)="cancel()">
      <md-icon >arrow_back</md-icon>
    </button>

    <span translate>song.edit.title</span>

    <span fxFlex></span>

    <button md-icon-button (click)="save()">
      <md-icon >done</md-icon>
    </button>

  </md-toolbar>

  <div class="text"
       fxFlex
       *ngIf="! editing"
       [style.touch-action]="'pan-y'"
       (swipeleft)='swipe($event.type)'
       (swiperight)='swipe($event.type)'>

    {{ song.text || 'song.text.empty' | translate }}
  </div>

  <div class="song-editing" *ngIf="editing">
    <song-edit [song]="song"></song-edit>
  </div>

  <div class="bottom-container" [@flyBottomUp] *ngIf="bottomContainer">
    <song-audios [audioIds]="song.audioIds"
                 *ngIf="bottomContainer === 'audios'"
                 (onClose)="bottomContainer = null"></song-audios>

    <div class="metronome-container" *ngIf="bottomContainer === 'metronome'">
      <div fxLayout="row" fxLayoutAlign="start center">
        <h4 translate>metronome.title</h4>
        <span fxFlex></span>
        <button md-icon-button (click)="bottomContainer = null">
         <md-icon>close</md-icon>
         </button>
      </div>

      <metronome [song]="song"></metronome>
    </div>
  </div>
</div>

<div fxHide fxShow.gt-sm fxLayout="row" fxFill class="song-desktop" *ngIf="song">
  <div fxLayout="column" fxFlex>
    <md-toolbar color="primary">
      <span>Quebrantahuesos</span>
    </md-toolbar>

    <div fxLayout="row" fxFlex>
      <div fxFlex="20" class="padding-16">
        <md-card fxFlex fxLayout="column">
          <md-card-title fxLayout="row" fxLayoutAlign="start center">
            <span translate>song.list.title</span>
            <span fxFlex></span>
            <button md-icon-button song-add>
              <md-icon>add</md-icon>
            </button>
          </md-card-title>

          <md-card-content>
            <songs></songs>
          </md-card-content>
        </md-card>
      </div>

      <div fxFlex="80" fxLayout="column">

        <div fxLayout="row"
             fxLayoutAlign="start center"
             class="song-title">
          <h2>
            <span>{{ song.title || 'song.title.empty' | translate }}</span>
          </h2>

          <div fxFlex></div>

          <button md-button [mdMenuTriggerFor]="songMenu">
            <span translate>song.show.actions.title</span>
          </button>
          <md-menu #songMenu="mdMenu">
            <button md-menu-item
                    (click)="confirmRemove()">
              <span translate>song.show.toolbar.remove</span>
            </button>
          </md-menu>
        </div>

        <div fxLayout="row" fxFlex>

          <div fxFlex="50" fxLayout="column" class="padding-16">

            <md-card fxLayout="column">
              <md-card-title fxLayout="row" fxLayoutAlign="start center">
                <span translate>metronome.title</span>
                <span fxFlex></span>
              </md-card-title>

              <md-card-content>
                <metronome [song]="song"></metronome>
              </md-card-content>
            </md-card>

            <div class="spacer"></div>

            <md-card fxLayout="column">
              <md-card-title fxLayout="row" fxLayoutAlign="start center">
                <span translate>song.audio.title</span>
                <span fxFlex></span>
                <button md-icon-button><!-- audio add -->
                  <md-icon>playlist_add</md-icon>
                </button>
              </md-card-title>

              <md-card-content fxLayout="column">
                <audio-list [audioIds]="song.audioIds"></audio-list>

                <!--audio-add-progress status="songShow.addProgress" layout-margin></audio-add-progress-->

                <audio-player fxFlex="none"></audio-player>
              </md-card-content>
            </md-card>
          </div>

          <div fxFlex="50" fxLayout="column" class="padding-16">

            <md-card fxLayout="column">
              <md-card-title fxLayout="row" fxLayoutAlign="start center">
                <span translate>song.text.title</span>
                <span fxFlex></span>
                <button md-icon-button
                        *ngIf="! editing"
                        [routerLink]="['/songs', song._id, 'edit']">
                  <md-icon>mode_edit</md-icon>
                </button>

                <button md-icon-button
                        *ngIf="editing"
                        (click)="cancel()">
                  <md-icon>cancel</md-icon>
                </button>

                <button md-icon-button
                        *ngIf="editing"
                        (click)="save()">
                  <md-icon>save</md-icon>
                </button>
              </md-card-title>

              <md-card-content>
                <div class="text" *ngIf="! editing">{{ song.text || 'song.text.empty' | translate }}</div>

                <div class="song-editing" *ngIf="editing">
                  <song-edit [song]="song"></song-edit>
                </div>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
