<md-nav-list>
  <md-list-item *ngFor="let song of songs | async">
     <a md-line [routerLink]="['/songs', song._id]">
       {{ song.title || 'song.title.empty' | translate }}
     </a>
     <button md-icon-button
             *ngIf="song.audioIds"
             [routerLink]="['/songs', song._id]">
        <md-icon>queue_music</md-icon>
     </button>
  </md-list-item>
</md-nav-list>

<!--
<md-button class="md-fab md-fab-bottom-right md-fab-fixed"
           song-add
           aria-label="{{ 'song.list.add' | translate }}">
  <md-icon md-svg-icon="content:ic_add_24px"></md-icon>
</md-button>

-->
